@import "https://buffy-assets.nyc3.digitaloceanspaces.com/Standard-CT/stylesheet.css";

html {
  font-family: 'palatino';
  text-transform: uppercase;

  &.no-js body::before {
    content: 'Javascript is disabled or not ready yet';
  }
}

body {
  padding: 5vw 5vh;
  background-color: #fff;
}

.logo {
  display: inline-block;
  float: right;
}

.logotype {
  display: inline-block;
  font-family: "Standard CT";
  text-transform: capitalize;
}
